.logo{
    margin: 10px 0px 0px 10px;
    width: 80px;
    height: 80px;
}

#logoid{
    margin-bottom: 20px;
    background-color: #006D77;
}

#content{
    background-color: #006D77;
}

nav{
    margin: 0 auto;

}

header{
    background-color: #006D77;
}

#hero-img{

    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #006D77;

}

nav a
{
    text-align: center;
    background-color: #83C5BE;
    color: white;
    font-size: 20px;
    padding: 20px 20px 20px 20px ;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    background-color: rgb(212, 212, 79);
    color: black;
}

#hero-msg h1, #hero-msg h4
{
    text-align: center;
    color: black;
}
.book
{
    color: black;
    font-size: 40px;
    text-decoration: none;
}

a.book:hover {
    color: #006D77;
}

.button-box
{
    text-align: center;
    color: black;
}
main section
{
    text-align: center;
    color: black;
}
#background {
    height: 725px;
    background-color: #83C5BE;
}
.icon {
    width: 80px;
    height: 80px;
}



h3{
    color: white;

    font-size: 20px;
}

h3 a{
    color: black;
    font-size: 20px;
    
    
}
h3 a:hover{
    color: yellow;
}
.msg{
    background-color: #006D77;
    color: white;
}

.msg p{
    font-size: 20px;
}

.msg h2{
    font-size: 20px;
}

footer a{
    text-decoration: none;
    color: white;
}

.social{
    
    margin: 0 auto;

}

.join
{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

a.join:hover{
    color: yellow;
}

footer{
    background-color: #006D77;
}


