* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Acme, Arial, sans-serif;
}


main {

	padding-right: 650px;
}

@media only screen and (min-width: 32.5em) {
	h1 {
		font-size: 2rem;
	}

	main {
		width: 320px;
	}
}

table, th, td {
	border: 1px black;
	border-style:solid;
	font-size: 50px;
	
	
  }

th{
	color: rgb(255, 255, 255);
	background-color: grey;
}

.black_background{
	background-color: rgb(0, 0, 0) !important;

}

.center_text{
	text-align: center;
}

td{
	width: 100px;
}

table{
	width: 1000px;
	height: 20px;
}

.white_font{
	color: white;
}

.background_color_grey{
	background-color: grey;
}

