
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

:root {
    --primary-color: #1D7291;
    --secondary-color: white;
    --accent-color: #005c91;
    --accent-2-color: #00638f;
    --page-margin: 5rem;
    --dark-mode-accent: #000000d7;
    --dark-mode-bg: #000000d9;
    --dark-mode-text: white;
    --font-used: 'Barlow', Helvetica, sans-serif;

}

body {
    font-family: 'Barlow', Helvetica, sans-serif;
    background: var(--secondary-color);
    margin: 0;
}

nav{
    padding: 1rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}



#menu-button {
    max-width: 50px;
    margin: 10px;
}


header {
    height: 100px;
    color: var(--secondary-color);
    display: flex;
    padding: 1rem;
    background: var(--primary-color);
}

#profile-picture {
    border-radius: 5px;
    box-shadow: 5px 5px 15px black;
}

h1 {
    margin:auto;
    justify-content: center;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    align-items: center;
    padding: 20px;
}

h2 {
    text-align: center;
}

h3 {
    border-radius:19px 19px 0 0 ;
    margin: 0;
    text-align: center;
    padding: 1rem;
    background: var(--primary-color);
    color: var(--secondary-color);
}

.card {
    box-shadow: 5px 5px 15px #001d2c;
    border-radius: 20px;
    margin: 1rem;
    min-width: 400px !important;

}

li {
    list-style-type: none;
}

li a{
    clear: left;
}

a {
    color: var(--accent-color);
    padding: 5px;
}

#temple_picture{
    margin: 0 auto;
    
}

.fixme {
    width: 100%;
    height: auto;
  }

  picture {
    align-items: center;
    text-align: center;
  }




.autoresize {
    width: 100%;
    height: auto;
  }

footer {
    text-align: center;
    padding: 0.5rem;
    color: var(--secondary-color);
    background: var(--primary-color);
}

.highlight {
    color: yellow
}


/* responsive Menu button */



#menu-to-toogle {
    border-radius: 15px 15px 15px 15px;
	position: fixed;
	top: 5rem;
	right: 0;
	list-style-type: none;
	margin: 0;
    margin-right: 30px;
	padding: 0;
	background: #f7f7f7;
	z-index: 10;
	overflow: hidden;
	box-shadow: 5px 5px 15px #001d2c;;
}

.menu-item {
    display: block;
	text-decoration: none;
	width: 10rem;
	padding: 1rem;
	color: var(--accent-color);
	position: relative;
}
li a.menu-item {
	display: none;
    
    
}
li a.open {
	display: flex;
}


/* Dark mode toggle */
.darkMenu {
    background: var(--dark-mode-accent);
    
}
.darkBody {
    background: var(--dark-mode-bg);
}
.darkChar{
    color: var(--dark-mode-text);
}
.darkCard{ 
    background: var(--dark-mode-accent);
}

.darkBackground{ 
    background: var(--dark-mode-accent);
}

.iframeSize{
    width: 600px;
    height: 450px;
}

#temple_title{
    
    font-size:x-large;
    margin-top: 5px;
    margin-left: 20px;
    border-radius:0;
    background: none;
    color: var(--secondary-color);
    text-shadow: 2px 2px #000000;
    position: absolute;
    
}

#temple_div{
    margin-left: 20px;
    margin-top: 20px;
    width: 250px;
    height: 75px;
    position: absolute;
    background-color: rgba(0,0,0,.5);
    color: #fff;

}

/*--------------------------------FORM--------------------------------*/
form fieldset {
    margin: 2rem 2rem;
    border: 1px solid var(--primary-color);
    border-radius: 7px;
    padding: 2rem 5%;
}

form legend {
    color: var(--primary-color);
    margin: 0 1rem;
    font-size: 1.2rem;
    padding: 0 1rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: var(--accent-color);
    font-size: 1rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px var(--primary-color);
    border-radius: 4px;
    padding: 0.75rem;
    color: var(--primary-color);
    width: 100%;    
    max-width: 15rem;
    background-color: rgba(0, 29, 44, 0.1);
}

form label.sbs {
    display: block;
    padding: 0.75rem 0;
    color: #555;
}

form input.submitButton {
    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 0 0 2rem 2rem;
    width: 96%;
    max-width: 15rem;
}

form label.top input:required {
    border-left: #ff0000 solid 6px;
}

form label.top input:required:valid {
    border-bottom: #008000 solid 6px;
}


#r {
    -webkit-appearance: none;
    background: linear-gradient(to right, #ff0000 0%, #ffa411 25%, #fbff7c 75%, #6aff6a 100%);
    border: solid 1px var(--primary-color);
    border-radius: 8px;
    height: 7px;
    width: 80%; max-width: 16rem;
    outline: none;
    transition: background 450ms ease-in;
    margin-bottom: 0;
	padding-bottom: 0;
}

.ratevalue {
    margin-right: 0.95rem;
    width: 0.50rem;
}

.rangecontianer {
    width: 80%;
    max-width: 16rem;
    display: flex;
    flex-direction: row;
}

.ratinglabels {
    max-width: 20rem;
	padding: 0.5rem 0.25rem;    
}

#rating {
	color: var(--primary-color);
}


.contact_form {
    box-shadow: 5px 5px 15px #001d2c;
    border-radius: 20px;
    margin: 1rem;
    min-width: 400px;

}