
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

:root {
    --primary-color: #1D7291;
    --secondary-color: white;
    --accent-color: #005c91;
    --accent-2-color: #00638f;
    --page-margin: 5rem;
    --dark-mode-accent: #000000d7;
    --dark-mode-bg: #000000d9;
    --dark-mode-text: white

}

body {
    font-family: 'Barlow', Helvetica, sans-serif;
    background: var(--secondary-color);
    margin: 0;
}

nav{
    padding: 1rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}



#menu-button {
    max-width: 50px;
    margin: 10px;
}


header {
    height: 100px;
    color: var(--secondary-color);
    display: flex;
    padding: 1rem;
    background: var(--primary-color);
}

#profile-picture {
    border-radius: 5px;
    box-shadow: 5px 5px 15px black;
}

h1 {
    margin:auto;
    justify-content: center;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    align-items: center;
    padding: 20px;
}

h2 {
    text-align: center;
}

h3 {
    border-radius:19px 19px 0 0 ;
    margin: 0;
    text-align: center;
    padding: 1rem;
    background: var(--primary-color);
    color: var(--secondary-color);
}

.card {
    box-shadow: 5px 5px 15px #001d2c;
    border-radius: 20px;
    margin: 1rem;
    min-width: 400px;
}

li {
    list-style-type: none;
}

li a{
    clear: left;
}

a {
    color: var(--accent-color);
    padding: 5px;
}

#temple_picture{
    margin: 0 auto;
    
}

.fixme {
    width: 100%;
    height: auto;
  }

  picture {
    align-items: center;
    text-align: center;
  }




.autoresize {
    width: 100%;
    height: auto;
  }

footer {
    text-align: center;
    padding: 0.5rem;
    color: var(--secondary-color);
    background: var(--primary-color);
}

.highlight {
    color: yellow
}


/* responsive Menu button */



#menu-to-toogle {
    border-radius: 15px 15px 15px 15px;
	position: fixed;
	top: 5rem;
	right: 0;
	list-style-type: none;
	margin: 0;
    margin-right: 30px;
	padding: 0;
	background: #f7f7f7;
	z-index: 10;
	overflow: hidden;
	box-shadow: 5px 5px 15px #001d2c;;
}

.menu-item {
    display: block;
	text-decoration: none;
	width: 10rem;
	padding: 1rem;
	color: var(--accent-color);
	position: relative;
}
li a.menu-item {
	display: none;
    
    
}
li a.open {
	display: flex;
}


/* Dark mode toggle */
.darkMenu {
    background: var(--dark-mode-accent);
    
}
.darkBody {
    background: var(--dark-mode-bg);
}
.darkChar{
    color: var(--dark-mode-text);
}
.darkCard{ 
    background: var(--dark-mode-accent);
}

.darkBackground{ 
    background: var(--dark-mode-accent);
}