@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@media only screen and (min-width: 600px){
    
    
    :root {
        --primary-color: #2596be;
        --secondary-color: #ffffff;
        --accent-color: #b9529b;
        --accent-2-color: #00638f;
        --page-margin: 0rem;
    
    }
    
    body {
        font-family: 'Barlow', Helvetica, sans-serif;
        background: var(--secondary-color);
        margin: 0 var(--page-margin) 0 var(--page-margin);
    }
    
    nav{
        padding: 1rem;
        justify-content: right;
        display: flex;
        flex-direction: row;
    }
    
    header {
        height: 100px;
        color: var(--secondary-color);
        display: flex;
        padding: 1rem;
        background: var(--primary-color);
    }
    
    #profile-picture {
        border-radius: 5px;
        box-shadow: 5px 5px 15px black;
    }
    
    h1 {
        margin:auto;
        justify-content: center;
        padding: 10px;
    }
    
    main {
        display: grid;
        max-width: 880px;
        grid-template-columns: 1fr 1fr;
        margin: 1rem auto;
        padding: 20px;
    }
    
    h2 {
        text-align: center;
        grid-column: 1/3;
    }
    
    .card h3 {
        margin: 0;
        text-align: center;
        padding: 1rem;
        background: var(--primary-color);
        color: var(--secondary-color);
    }
    
    .card {
        
        min-width: 90%;
        box-shadow: 5px 5px 15px #001d2c;
        border-radius: 20px;
    }
    
    #project {
        text-align: center;
        grid-row: 2/3;
        grid-column: 2/3;
    }

    #learning-activities {
        grid-row: 2/4;
        grid-column: 1/2;
    }
    #information {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    #information p {
        text-align: center;
    }
    
    
    li a{
        clear: left;
    }
    
    a {
        color: var(--accent-color);
    }
    
    footer {
        text-align: center;
        padding: 0.5rem;
        color: var(--secondary-color);
        background: var(--primary-color);
    }
    
}